
@{
    ViewBag.Title = "blog";
}


<div id="ll">
    <div class="container">
        <div class="l0">
            <h1>Venenatis veulum peus</h1>
            <p>By Nathan Nguyen 18 comments</p>
            <img src="~/newfinal/foto/blog-new-17-1024x629_1024x.progressive.jpg" class="img-fluid" alt="">
            <p>Tortor ac litora phasellus a porta hac vestibulum fringilla taciti gravida adipiscing est litora sed massa per a ut vivamus libero vel. Ridiculus non et dis fermentum non libero per hac vestibulum senectus tortor leo nisl lobortis consectetur senectus habitant facilisi sodales vestibulum potenti nisl a.</p>
            <br>
            <br>
            <p>Ultricies et tortor elementum a adipiscing pharetra elementum rhoncus curabitur ac nibh vestibulum aptent donec eu vestibulum senectus porttitor rhoncus nam in condimentum felis. Diam eget viverra euismod phasellus a sapien vestibulum himenaeos dui a bibendum penatibus dui a scelerisque a adipiscing est orci nunc praesent.</p>
            <br>
            <br>
            <br>

        </div>
        <div class="l8 navbar">
            <div class="l9">
                <img src="~/newfinal/foto/blog-man-fashion1-600x670.jpg" class="img-fluid" alt="">

            </div>
            <div class="l7">
                <h3>1. Best men’s clothing</h3>
                <p>Aliquam tincidunt mauris eu risus</p>
                <p>Vestibulum auctor dapibus neque.</p>
                <p>Vestibulum auctor dapibus neque.</p>
                <p>Vestibulum auctor dapibus neque.</p>
                <p>Vestibulum auctor dapibus neque.</p>
                <p>Vestibulum auctor dapibus neque.</p>



            </div>
            <div class="l6">
                <br>
                <br>
                <p>
                    Cras vestibulum nec scelerisque mauris id nisi consectetur mi id ipsum justo ad a fringilla a parturient.Ante a vel cubilia ut dignissim a adipiscing nisl mus eleifend volutpat vestibulum suspendisse a.Adipiscing vivamus venenatis eleifend tellus parturient ullamcorper felis lobortis hendrerit ipsum nisl ut lobortis ipsum scelerisque parturient.Condimentum accumsan augue id a magnis a condimentum hac himenaeos ac malesuada nibh eros ipsum suspendisse integer.

                </p>

            </div>


        </div>

    </div>
</div>




<div id="qc">
    <div class="container">
        <div class="row">
            <div class="q2 navbar">
                <div class="q7">
                    <img src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">

                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>





                </div>

                <div class="q9">
                    <img src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>



                <div class="q9">
                    <img src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>



                <div class="q9">
                    <img src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>








            </div>
        </div>












    </div>
</div>






<div id="ss0">
    <div class="container">
        <div class="s1">
            <img src="~/newfinal/foto/logo-basel.svg" class="img-fluid" alt="">
        </div>
        <div class="s0 nav">
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
        </div>
        <div class="s9">
            <img src="~/newfinal/foto/payments_255x.png" alt="">
        </div>
    </div>
</div>
