#a1{
  background: #1aada3;
  height: 50px;
}




#b1{
  .b3{
    img{
    justify-content: flex-end;

    }
  }

 .b2{
  justify-content: space-between;
  position: relative;
  top: 30px;
 }
 .b5{
   p{
     padding: 2vh;
   }
 }
}



#k9{
  
  &.active{
    display: none;
  }
.k6{
  border: 1px solid black;
  color: rgb(206, 166, 243);
  text-align: center;
  position: relative;
  height: 36%;
 bottom: -30px;
}
position: fixed;
top: 20%;

}



#c1{
  background-image: url(../foto/highcompress-slider_1.jpg);
  height: 600px;
  background-size: cover;
  margin-top: 8vh;
  background-repeat: no-repeat;
 .c2{
   color: white;
   position: absolute;
   top: 40vh;
   left: 10vh;

   h1{
     font-size: 80px;
   }
 }
}












#d1{
  justify-content: center;
  text-align: center;
margin-top: 4%;
  h6{
    position: relative;
    left: 31%;
    width: 40%;
    text-align: center;
  }
}









#e1{
  .e3{
flex-direction: column;
padding: 1px;
img{
height: 50%;
width: 70%;

}
  }
  .e2{
justify-content: center;
img{
padding: 5px;

}
  }
 




}






#q1{
 position: relative;
 top: 7vh;
  .q2{

text-align: center; 
img{
  padding: 1vh;
}
  }

}









#w1{
  background-image: url(../foto/highcompress-main-big-baner-8.webp);
  height: 35vh;
position: relative;
top: 11vh;
background-size: cover;
.w2{
  color: white;
 text-align: center;
 position: relative;
 top: 30%;
}
}



#r1{
  .r2{
    text-align: center;
  justify-content: center;
  position: relative;
  top: 20vh;

  }
  .r4{
    text-align: center;
    justify-content: center;
    position: relative;
    top: 22vh;
  }
}





#t1{
  background-image: url(../foto/highcompress-main-big-baner-7.webp);
  height: 50vh;
  position: relative;
  top: 25vh;
  .t2{
  
 background: white;
 position: relative;
 top: 18vh;
 text-align: center;
 height: 25vh;
 
  }
}









#y1{
  position: relative;
  top: 35vh;
  text-align: center;
  .y2{
    text-align: center;
 p{
   text-align: center;
 }
  }
}






#u1{
  background: #f4f4f4;
  height: 10%;
position: relative;
top: 40vh;

  .u2{
justify-content: center;
  }
}














#z1{
  .z2{
flex-direction: column;


img{

width: 200px;
}

}
.z3{
text-align: center;
align-self: center;

}

  }












#x1{
position: relative;
top: 20vh;
  .x2{
    flex-direction: column;

  }
}




#r1{
  .r2{
    img{
      padding: 1vh;
    }
  }

}













@media screen and(max-width: 576px){


  #b1{
    .b4{
      position: relative;
    }
  }
    #a1{
      .a3{
        display: none;

      }
    }
   
}

@media screen and(max-width: 768px){

  #a1{
    .a3{
      display: none;

    }
  }
}

@media screen and(max-width: 998px){
  #b1{
    .b4{
      margin-top: -2%;
    }
  }
  #a1{
   
    .a3{
      display: none;

    }
  }
}