
@{
}


<div id="xm">
    <div class="container">
        <div class="cy p-4">
            <h1>Mehsul haqqinda melumat</h1>

        </div>

        <div class="wl navbar">

            <img height="300vh" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">
            <div class="b3">
                <h4>MARKA</h4>
                <h5>gucci</h5>
                <h4>QIYMET</h4>
                <h6>22$</h6>
                <h4>HAQQINDA</h4>
                <h2>dyhgtfddgd</h2>
            </div>


        </div>

    </div>

</div>














<div></div>















