@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/newfinal/css/style.css">
    <link rel="stylesheet" href="~/newfinal/boostrap/bootstrap.css">
    <link rel="stylesheet" href="~/newfinal/vendros/slick.css">
    <link rel="stylesheet" href="~/newfinal/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>




    <div id="z1">
        <div class="container d-flex">
            <div class="z2 d-flex">

                <img src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">
                <img src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">




            </div>




            <div class="z3">

                <p>Jeptum ring earrings</p>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <h5>$330.00 $299.00</h5>
                <h4>  tincidunt scelerisque porta a tortor adipiscing ullamcorper etiam imperdiet...</h4>
                <button>ADD TO CART</button>
                <button>BUY IT NOW</button>
                <p>Order in the next 1 hours 18 minutes to get it by Friday 03/05/2021</p>
                <img src="~/newfinal/foto/trustseal_499x.png" class="img-fluid" alt="">





            </div>
        </div>



    </div>






    <div id="x1">
        <div class="container">
            <div class="x2 d-flex">
                <h6>PARTURIENT ADIPISCING</h6>
                <p>Blandit parturient adipiscing faucibus fringilla vestibulum ultrices integer dolor parturient parturient at porta platea inceptos. Habitant dui ut fringilla eleifend tincidunt scelerisque porta a tortor adipiscing ullamcorper etiam imperdiet pulvinar vel facilisis potenti facilisis mi parturient sed per egestas vivamus a auctor eu curae. Id dui bibendum non enim accumsan leo habitant diam eu.</p>
                <h6>FACILISIS MI PARTURIENT </h6>
                <p>
                    Etiam fermentum parturient
                    Sociosqu leo mus odio ad vestibulum.
                    Adipiscing praesent a ut mi nostra sed.
                    Proin a taciti adipiscing tempor turpis.
                    Mi netus eros nisi vulputate etiam.
                    Massa mi suspendisse ligula vestibu.
                </p>

            </div>
            <div class="x3">
                <img style="height: 400px;" src="~/newfinal/foto/shoe_870x.progressive.jpg" class="img-fluid" alt="">
                <img style="height: 400px;" src="~/newfinal/foto/shoe_870x.progressive.jpg" class="img-fluid" alt="">


            </div>
        </div>
    </div>








    <div id="r1">
        <div class="container">
            <div class="r2 d-flex">
                <div class="r4">

                    <img width="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">
                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>
                <div class="r4">
                    <img width="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">
                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>
                <div class="r4">
                    <img width="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">
                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>



            </div>
            <div class="r2 d-flex">
                <div class="r4">
                    <img width="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">
                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>
                <div class="r4">
                    <img width="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">
                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>
                <div class="r4">
                    <img width="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" class="img-fluid" alt="">
                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>
            </div>

        </div>


    </div>
















    <script src="~/newfinal/~/newfinal/vendros/jquery-3.4.1.js"></script>
    <script src="~/newfinal/~/newfinal/vendros/popper.min.js"></script>
    <script src="vendorss/js/slick.js"></script>
    <script src="~/newfinal/javascript/app.js"></script>
    <script src="~/newfinal/~/newfinal/vendros/bootstrap.min.js"></script>
</body>
</html>
