
@{
    ViewBag.Title = "shop";
}






<div id="q1">
    <div class="container">
        <div class="row">
            <div class="q2 navbar">
                <div class="q7">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">

                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>





                </div>

                <div class="q9">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>



                <div class="q9">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>



                <div class="q9">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>


                <div class="q9">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>


                <div class="q9">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>

                <div class="q9">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>

                <div class="q9">
                    <img height="400px" src="~/newfinal/foto/jewelry-12_8a0e17aa-c879-4127-98ea-6242dbf9568c@2x.jpg" alt="">


                    <p>Jeptum ring earrings</p>
                    <h6>299$</h6>
                </div>



            </div>
        </div>












    </div>
</div>











<div id="sss">
    <div class="container">
        <div class="s1">
            <img src="~/newfinal/foto/logo-basel.svg" class="img-fluid" alt="">
        </div>
        <div class="s0 nav">
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
            <div class="s2">
                <h3>OUR STORES</h3>
                <h4>new york</h4>
                <h4>new york</h4>
                <h4>new york</h4>

            </div>
        </div>
        <div class="s9">
            <img src="~/newfinal/foto/payments_255x.png" alt="">
        </div>
    </div>
</div>





